---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const pages = [
  {
    title: "Content collections",
    categories: [
      {
        name: "Newspaper",
        links: [
          { href: "/", text: "Home" },
          { href: "/index-2", text: "Home 2" },
          { href: "/blog/posts/1", text: "Blog post paywall" },
          { href: "/blog/posts/2", text: "Blog post open" },
          { href: "/blog/top-stories", text: "Top Stories" },
          { href: "/blog/featured", text: "Featured" },
          { href: "/blog/breaking", text: "Breaking" },
          { href: "/blog/subs-only", text: "Subscribers only" },
          { href: "/blog/tags", text: "Tag index" },
          { href: "/blog/tags/finance", text: "Tag category" },
          { href: "/rss.xml", text: "RSS" },
        ],
      },
      {
        name: "Podcasts",
        links: [
          { href: "/podcast/home", text: "Home" },
          { href: "/podcast/episodes/1", text: "Podcast paywall" },
          { href: "/podcast/episodes/2", text: "Podcast open" },
          { href: "/podcast/series", text: "Series" },
          { href: "/podcast/featured", text: "Featured" },
          { href: "/podcast/guests", text: "Guests" },
          { href: "/podcast/subs-only", text: "Subscribers only" },
          { href: "/podcast/tags", text: "Tag index" },
          { href: "/podcast/tags/finance", text: "Tag category" },
        ],
      },
      {
        name: "Authors",
        links: [
          { href: "/authors/home", text: "Home" },
          { href: "/authors/jordan-wells", text: "Details" },
        ],
      },
      {
        name: "Jobs",
        links: [
          { href: "/jobs/home", text: "Home" },
          { href: "/jobs/1", text: "Details" },
          { href: "/jobs/apply", text: "Apply" },
        ],
      },
      {
        name: "Help Center",
        links: [
          { href: "/helpcenter/home", text: "Home" },
          { href: "/helpcenter/1", text: "Details" },
        ],
      },
      {
        name: "Info Pages",
        links: [
          { href: "/infopages/terms", text: "Terms" },
          { href: "/infopages/privacy", text: "Privacy Policy" },
        ],
      },
    ],
  },
  {
    title: "Static",
    categories: [
      {
        name: "Pages",
        links: [
          { href: "/about", text: "About" },
          { href: "/404", text: "Error 404" },
          { href: "/pricing/advertise", text: "Advertise" },
          { href: "/pricing/membership", text: "Membership" },
        ],
      },
      {
        name: "Forms",
        links: [
          { href: "/jobs/apply", text: "Apply" },
          { href: "/forms/sign-in", text: "Sign In" },
          { href: "/forms/sign-up", text: "Sign Up" },
          { href: "/forms/contact", text: "Contact" },
          { href: "/forms/password-reset", text: "Password Reset" },
        ],
      },
      {
        name: "System",
        links: [
          { href: "/system/colors", text: "Colors" },
          { href: "/system/links", text: "Links" },
          { href: "/system/buttons", text: "Buttons" },
          { href: "/system/typography", text: "Typography" },
          {
            href: "https://lexingtonthemes.com/legal/license",
            text: "License",
          },
          {
            href: "https://lexingtonthemes.com/documentation/",
            text: "Documentation",
          },
        ],
      },
    ],
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-12">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        {
          pages.map((section) => (
            <div class="flex flex-col ">
              <div class="p-8 bg-base-600 rounded-3xl">
                <Text
                  tag="h2"
                  variant="textXL"
                  class="font-mono font-light text-white "
                >
                  {section.title}
                </Text>
              </div>
              <div class="mt-2  gap-2 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 lg:col-span-2">
                {section.categories.map((category) => (
                  <div class="p-8 bg-base-100 rounded-4xl">
                    <Text
                      tag="h3"
                      variant="textSM"
                      class="font-mono  text-base-900"
                    >
                      {category.name}
                    </Text>
                    <ul role="list" class="pl-6 grid grid-cols-1">
                      {category.links.map((link) => (
                        <li>
                          <a
                            href={link.href}
                            class="text-xs text-base-600 hover:text-base-900"
                          >
                            {link.text}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
