---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import EntrySplit from "@/components/blog/EntrySplit.astro";
import EntryMedium from "@/components/blog/EntryMedium.astro";

// Content
const allPosts = await getCollection("posts");
import { getCollection } from "astro:content";
// Sections
import AsidePost from "@/components/blog/AsidePost.astro";
import AdvertAside from "@/components/advert/AdvertAside.astro";
// Sort posts by date
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  return dateB - dateA; // Compare timestamps
});
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-12">
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-2">
        <div class="lg:col-span-3">
          <span class="sr-only"> Top Stories </span>
          <div class="space-y-2">
            {
              allPosts
                .filter((post) => post.data.isTopStory)
                .slice(0, 1)
                .map((post) => <EntrySplit post={post} />)
            }
          </div>
          <div class="mt-2 space-y-2">
            {
              allPosts
                .filter((post) => post.data.isTopStory)
                .slice(1)
                .map((post) => <EntryMedium post={post} />)
            }
          </div>
        </div>
        <div class="">
          <div class="lg:sticky lg:top-2 lg:z-50">
            <AsidePost />
            <AdvertAside />
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
