---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Components
import EpisodeCard from "@/components/podcast/EpisodeCard.astro";
// Get all posts
import { getCollection } from "astro:content";
const allPodcasts = await getCollection("podcast");
allPodcasts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<div>
  <span class="sr-only">Podcasts with our guests</span>
  <div class="space-y-2">
    {
      allPodcasts
        .filter((post) => post.data.isGuest)
        .map((post) => <EpisodeCard post={post} />)
    }
  </div>
</div>
