---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Components
import EntryMedium from "@/components/blog/EntryMedium.astro";
// Get all posts
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<span class="sr-only"> Top stories </span>
<div class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-4">
  {
    allPosts
      .filter((post) => post.data.isTopStory)
      .map((post) => <EntryMedium post={post} />)
  }
</div>
