---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
// Entries
import EntryFeaturedSmall from "@/components/blog/EntryFeaturedSmall.astro";
// Get all posts
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<span class="sr-only"> Featured </span>
<div class="relative grid grid-cols-1 lg:grid-cols-3 gap-2">
  {
    allPosts
      .filter((post) => post.data.isFeatured)
      .slice(0, 3)
      .map((post) => <EntryFeaturedSmall post={post} />)
  }
</div>

