---
import { Image } from "astro:assets";
import advertAside from "@/images/assets/advertAside2.svg";
---

<div class="relative flex items-end w-full mt-2 overflow-hidden">
  <a
    href="/pricing/advertise"
    title="Link to advertise page"
    class="absolute inset-0 z-10">
  </a>

  <Image
    src={advertAside}
    alt="#_"
    width={1000}
    height={1000}
    class="w-full h-full object-contain rounded-3xl"
  />
</div>
