---
import advertInline from "@/images/assets/advertInline.svg";

const { class: className = "", ...rest } = Astro.props;
---

<div class={`relative ${className}`} {...rest}>
  <img
    src={advertInline.src}
    alt="Advertise on Making the Metaverse"
    class="w-full h-auto"
    loading="lazy"
  />
  <a
    href="/pricing/advertise"
    title="Link to advertise page"
    class="absolute inset-0 z-10"
  >
  </a>
</div>
