---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
const { frontmatter } = Astro.props;
// Breadcrumbs Data
const breadcrumbs = [
  { label: "Home", href: "/" },
  { label: frontmatter.page, href: "#" }, // Current page (unstyled)
];
---

<BaseLayout>
  <Wrapper variant="standard" class="pt-12">
    <div
      class="lg:w-1/2 mx-auto bg-base-100 p-8 lg:p-32 lg:py-12 rounded-[3rem]"
    >
      <div class="mx-auto max-w-x">
        <nav aria-label="Breadcrumb">
          <ol
            class="flex items-center pl-8 font-mono text-xs font-light space-x-2 text-base-600"
          >
            {
              breadcrumbs.map((item, index) => (
                <>
                  <li>
                    {index < breadcrumbs.length - 1 ? (
                      <a href={item.href} class="hover:text-base-900">
                        {item.label}
                      </a>
                    ) : (
                      <span>{item.label}</span>
                    )}
                  </li>
                  {index < breadcrumbs.length - 1 && (
                    <li class="text-base-400">
                      <ChevronRight size="sm" />
                    </li>
                  )}
                </>
              ))
            }
          </ol>
        </nav>
        <Text
          tag="h1"
          variant="displaySM"
          class="mt-8 font-light text-base-900 lg:col-span-2 text-balance"
        >
          {frontmatter.page}
        </Text>
        <Text
          tag="p"
          variant="textXS"
          class="mt-24 font-mono font-light text-base-600"
        >
          <time datetime={new Date(frontmatter.pubDate).toISOString()}>
            {
              new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "2-digit",
              })
            }
          </time>
        </Text>
        <Wrapper variant="prose" class="mt-4"><slot /></Wrapper>
      </div>
    </div>
  </Wrapper>
</BaseLayout>
